.header {
    max-width: 100%;
    background-color: var(--second-color);
    height: 5rem;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 7px 15px -10px #4f4f4f;
}

.logo {
    margin-left: 2rem;
}

.hooli-icon {
    width: 9rem;
    height: 5em;
}

/* ------------------------------- */
.header-nav-menu {
    width: 30%;
}
.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.nav-item {
    padding: 10px 11px;
    border: 1px solid transparent;
    border-radius: 1rem;
}
.nav-link {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: capitalize;
    transition: all 500ms ease-in-out;
}
.nav-icon {
    display: block;
    width: 50px;
    height: 50px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 1rem;
    transition: all 500ms ease-in-out;
}

.avatar-icon {
    fill: none;
    stroke: #000000;
    width: 3rem;
    height: 3rem;
}


.nav-item:hover,
.nav-icon:hover {
    color: var(--accent-color);
    border: 1px solid var(--text);
}

.hooli-icon:hover,
.icon-wrapper:hover svg.nav-burger,
.icon-wrapper:hover svg.nav-notification {
    fill: var(--accent-color);
}
.icon-wrapper:hover svg.avatar-icon {
    stroke: var(--accent-color);
}