@import url(reset.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic&display=swap);

:root {
    --dark: #334257;
    --dark-blue: #476072;
    --white: #eeeeee;
    --blue: #44a3d2;
    /* 4e667d */
}

body {
    height: 100%;
    line-height: 1;
    font-size: 1.3rem;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--dark-blue);
    color: var(--white);
}

.wrapper {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

/* header */
.header {
    position: fixed;
    top: 0;
}

.header,
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 3rem;
    background-color: var(--dark);
    width: 100%;
    z-index: 5;
}

.header-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
}

.header__burger {
    display: none;
}

.header__burger.active {
    display: block;
}
.humburger__line {
    width: 40px;
    height: 4px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    transform: translate(-50%, -50%);
    transition: all 500ms ease-in-out;
}

/* main styles */
.main__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.content__side-menu {
    width: 20%;
    height: 100%;
    background-color: var(--dark);
    position: fixed;
    overflow-y: auto;
    left: 0;
    padding-top: 10vh;
    border: 1px solid rgba(63, 98, 168, 0.5);
    z-index: 1;
}

.content__side-menu.active {
    display: block;
    /* position: fixed; */
    z-index: 10;
    opacity: 1;
    transition: opacity 0.6s linear;
}

.side-menu {
    /* height: 100%; */
    
}

.side-menu.active {

}
.side-menu__navigation-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.side-menu__navigation-item {
    border: 1px solid rgba(63, 98, 168, 0.5);
}

.side-menu__link {
    display: block;
    width: 100%;
    padding: 15px;
    text-align: center;
    background-color: var(--dark);
    margin-top: 1px;
    transition: all 500ms ease;
}

.side-menu__link:hover,
.side-menu__link:focus {
    color: var(--blue);
}


/* main content styles*/
.content_holder {
    width: 80%;
    height: 100%;
    position: relative;
    left: 20%;
    top: 10vh;
}

.main__content-block {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    height: 100%;
    padding: 1rem;
}

.content__img-holder {
    width: 50%;
    padding: 0rem;
}

.content-img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}

.content-text {
    height: 100%;
    width: 50%;
    padding: 0 1.5rem;
}

.content-title {
    font-weight: 900;
    font-size: 2em;
    color: var(--blue);
    margin-bottom: 2rem;
}

.content__info {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.content__param {
    color: var(--blue);
}

.content__value {
    padding-left: 1.5rem;
}

.content__description {
    line-height: 1.5;
    text-align: justify;
}


/* footer */
.footer {
    width: 100%;
}

.foooter-link:hover,
.foooter-link:active {
    color: var(--blue);
}

@media (max-width: 1024px) {
    .content-text {
        padding: 0 0.5rem;
    }

    .content__description {
        padding-right: 1rem;
    }
}

@media (max-width: 900px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 2rem;
    }

    .header__burger {
        display: block;
        margin-left: 2rem;
        padding-right: 0.5rem;
    }

    .header-title {
        line-height: 1.5rem;
        padding-right: 2rem;
        padding-left: 0.5rem;
    }

    .content__side-menu {
        display: none;
    }

    .content_holder {
        width: 100%;
    }

    .main__content-block {
        display: flex;
        flex-direction: column;
    }

    .content__img-holder {
        width: 100%;
        padding: 1rem;
    }

    .content-text {
        width: 100%;
        padding: 1rem;
    }

    .content__description {
        padding: 0;
    }
}

@media (max-width: 640px) {
    .header-title {
        font-size: 1.5rem;
    }

    .content-title {
        font-size: 1.8em;
    }

    .content__description {
        line-height: 1.5;

    }
}

@media (max-width: 360px) {
    .header-title {
        line-height: 1rem;
        font-size: 1rem;
        /* padding: 0; */
    }

    .header__burger {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .content__img-holder {
        width: 100%;
        padding: 0;
    }

    .content-text {
        padding: 0;
    }

    .content-title {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .content__value {
        padding-left: 1rem;
    }

    .content__param,
    .content__value {
        font-size: 1rem;
    }

    .content__description {
        line-height: 1.5;
        font-size: 1rem;
    }

    .footer {
        font-size: 1rem;
    }
}