@import url(reset.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic&display=swap);

:root {
    --dark: #334257;
    --dark-blue: #476072;
    --white: #eeeeee;
    --blue: #44a3d2; /* 4e667d */
}

body {
    height: 100%;
    line-height: 1;
    font-size: 1.3rem;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--dark-blue);
    color: var(--white);
    /* overflow: clip; */
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 1 auto;
}

/* header */
.header {
    height: 8vh;
}
.header,
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 3rem;
    background-color: var(--dark);
    width: 100%; 
}
.header-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
}
.header__burger {
    display: none;
    margin-right: 2rem;
}
.humburger__line {
    width: 40px;
    height: 4px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    transition: all 500ms ease-in-out;
}
@media (max-width: 900px) {
    .header__burger {
        display: block;
    }
}

.header__burger .hamburger__line:nth-child(2){
	opacity: 0
}
.header__burger .hamburger__line:nth-child(1) {
	transform: translateY(12px) rotate(45deg)
}
.header__burger .hamburger__line:nth-child(3) {
	transform: translateY(-12px) rotate(-45deg)
}
/* main styles */
.main__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: calc(100% - 8vh - 6vh);
    /* height: 86vh; */
    /* padding: 3rem 1.25rem 3rem 0; */
}
.content__side-menu {
    width: 20%;
    height: 100%;
    /* overflow-y: scroll; */
}
.side-menu {
    height: 100%;
}
.side-menu__navigation-list {
    
}
.side-menu__navigation-item {
}
.side-menu__link {
    display: block;
    width: 100%;
    padding: 15px;
    text-align: center;
    background-color: var(--dark);
    margin-top: 1px;
    transition: all 500ms ease;
    border: 1px solid rgba(0,0,0,0);
}
.side-menu__link:hover,
.side-menu__link:focus {
    color: var(--blue);
    font-weight: bold;
}


/* main content styles*/
.content_holder {
    width: 80%;
    height: 100%;
}
.main__content-block {
    display: flex;
    align-items: baseline;
    height: 100%;
    padding: 1rem;
    /* overflow-y: scroll; */
}
.content__img-holder {
    width: 40%;
    padding: 2rem;
}
.content-img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}
.content-text {
    height: 100%;
    width: 60%;
}
.content-title {
    font-weight: 900;
    font-size: 2em;
    color: var(--blue);
    margin-bottom: 2rem;
}
.content__info {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}
.content__param {
    color: var(--blue);
}
.content__value {
    padding-left: 1.5rem;
}
.content__description {
    line-height: 1.5;
}


/* footer */
.footer {
    width: 100%;
    height: 6vh;
}
.footer-copy {
}
.foooter-link:hover,
.foooter-link:active {
    color: var(--blue);
}


